<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" href="/img/green-earth-b.png" type="image/x-icon"/>
    <title>ThirdParty</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark">
    <a class="navbar-brand" href="/"><img src="/img/green-earth-w.png" width="30px"> Third Party</a>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <span class="nav-link">Connect My Data / Green Button</span>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="perform_logout">登出</a>
            </li>
        </ul>
    </div>
</nav>
<img src="/img/loading.gif" id="loadingGif">
<div>
    <div id="loading" class="padArea">
		<button type="button" class="btn btn-light" id="authBtn"
				onclick="javascript:location.href='https://140.96.170.47:60107/dialog/authorize?redirect_uri=http://140.121.197.129:8500/redirect&response_type=code&client_id=THIRD_PARTY&scope=FB=1_3_4_5_13_14'">
			連結我的資料
		</button>
		<button type="button" class="btn btn-light" id="updateBtn"
				onclick="updateMyData()">更新我的資料
		</button>
        <p id="updated"></p>
        <div class="col-sm-8">
			<img src="/img/left.png" id="left" onclick="back()">
			<div id="chartInfo">
				<br>
				&nbsp;<label class="radio-inline"><input type="radio" name="optradio" value="value"checked>讀表值(10<sup id="power"></sup> Wh)</label>
				&emsp;&emsp;<label class="radio-inline"><input type="radio" name="optradio" value="cost">電費(TWD)</label>
            </div>
            <div id="chart3" class="chart"></div>
			<div id="chart2" class="chart"></div>
			<div id="chart1" class="chart"></div>
			<div id="analysisResults"></div>
		</div>
    </div>
</div>

<script src="/js/index.js"></script>
</body>
</html>