<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link rel="icon" href="/img/green-earth-b.png"  type="image/x-icon" />
    <title>ThirdParty</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<nav class="navbar navbar-expand-sm navbar-dark">
		<a class="navbar-brand" href="/"><img src="/img/green-earth-w.png" width="30px"> Third Party</a>
	</nav>
	<div>
	<div class="formArea">
		<form action="perform_login" method="post">
			<p><span class="failedText" th:unless="${param.error == null}" th:text="登入失敗"></span></p>
			<p><span class="successfulText" th:unless="${param.logout == null}" th:text="你已經登出"></span></p>
			<p><span class="successfulText" th:unless="${param.registered == null}" th:text="註冊成功"></span></p>
			<p>帳號：<input type="text" name="username" required autofocus/></p>
			<p>密碼：<input type="password" name="password" required /></p>
		　	<p><input type="submit" value="登入">&emsp;尚未有帳號？ <a href="/register">註冊</a></p>
		</form>
		
	</div>
</body>
</html>